body.accueil {
    background-image: url("../images-contenu/Calque 01.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}


body {
    background-color:#f9f2f4;
}


nav>h3{
    background-color: rgba(81, 166, 219,0.75);
}


nav > ul {
    background-color: rgba(3,97,159,0.9);

    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

ul {
    -webkit-padding-start: 20px;
    list-style-type: none;
}

ul>li:last-child {
    padding-bottom:5px;
}


nav:hover > ul, nav.simul-hover > ul {
    display: block;
}


footer .mentions {
    margin-left:4%;
    margin-right:15%;
}


footer .nom {
    margin-right:4%;
    text-align:right;
}


h3.introPiscine {
    width:83.333%;
    padding-top: 3.125%;
    padding-bottom: 3.125%;
    padding-right: 6.25%;
    padding-left: 6.25%;
}


h3.introPiscine,img, iframe {
    box-sizing: border-box;
    border-width:15px;
    border-style: solid;
    border-color: rgba(183,99,35,0.9);
}


article,.h3content {
    margin-left:4%;
    margin-right:4%;
}


article>div::after {
    content:"";
    background-color: rgb(182, 88, 16);
    position: absolute;
    left: 8.333%;
    width: 83.333%;
    height: 2px;
    z-index: -1;
}


article>div:last-child::after {
    display: none;
}


h3.h3content {
    text-align: center;
    background-color:rgba(249,242,244,0.4);
    position:absolute;
    bottom:20px;

}

.accueil>main>article {
    background-color:rgba(249,242,244,0.6);
}


.livre {
    background-image: url("images-interface/logoLivre.png");
}


.auteur {
    background-image: url("images-interface/logoAuteur.png");
}


.film {
    background-image: url("images-interface/logoFilm.png");
}


.réalisateurs {
    background-image: url("images-interface/logoRéalisateur.png");
}


.logo {
    background-repeat:no-repeat;
    background-size: 1.5em;
    height:2em;
    display:table-cell;
    vertical-align:middle;
    background-position: left;
    text-indent:1.7em;
}


.incrusté, .remplacé:hover, .remplacé.simul-hover {
    padding-left:0;

}


.remplacé {
    padding-left:9999px;
}

