body {
    width:100vw;
    min-width:175px;
}


.accueil img {
    width:66.225%;
}


img,iframe {
    width:83.333%;
    max-width: 470px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

iframe {
    height:46.875%;
}

h1 {
    box-sizing: border-box;
    position:absolute;
    top:0;
    width:79.166%;
    min-width:275px;
    margin:3px 4.166% 0 16.666%;
}


nav>h3 {
    margin-top: 0;
    margin-bottom:0;
    display: block;
    background-image:url("images-interface/menu.png");
    background-size:34px;
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 8px;
    height: 48px;
    text-indent:-9999px;
}


footer {
    padding-top:1px;
    padding-bottom: 1px;
}


header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1;
}


h3.introPiscine {
    position:absolute;
    left: calc(50% - 41.666%);
    top: 40vw;
    z-index: -1;
}


.introLivre {
    margin-top: 75vh;
    background-image: url(images-interface/flèche.png);
    background-repeat: no-repeat;
    background-size: 54px;
    background-position: center bottom;
    height: 25vh;
    z-index: -1;
}


div>h2 {
    padding-top: 1em;
    padding-bottom:0.25em;
}


article>div:first-child>h2,.livre.incrusté {
    padding-top:0.25em;
}


article>div>p:last-child {
    margin-top:5px;
}


.accueil article>div>p,p.citation {
    margin-bottom:5px;
}

article>div>a {
    position:absolute;
    width:90%;
    height:100%;
    z-index: 0;
}

div>p:last-child {
    padding-bottom:1em;
}

p.citation, p.source {
    margin-left:10vw;
}

iframe {
    margin-bottom:2em;
}

.autres>main,.article>article{
    margin-top:50px;

}

.autres>main>ul>li {
    margin-top:1em;
}