/*
#CAD2C5

#84A98C

#52796F

#354F52

#2F3E46
 */

body {
    color:white;
    background-color: #1b1e21;
    display: flex;
    flex-direction: column;
    margin : 0;
    font-size:1.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
    max-width:100%;
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

header a,header a:hover {
    color:white;
    text-decoration: none;
}

main {
    width:100%;
}

section {
    min-height: 75vh;
    max-width:100vw;
}

section .intro {
    padding:0.1em 2em;
    background-color: black;
    text-align: center;
}

#flat section {
    margin-top : 2em;
}

#intro {
    display: flex;
    justify-content: center;
}

#intro a-scene {
    width : 100vw;
    height : 75vh;
    position: absolute;
    /*z-index: -1;*/
}

.aframe-inspector-opened #intro  a-scene{
    width : 100vw;
    height : 100vh;
}

#choixvr {
    min-width: 300px;
    height: 150px;
    width: 25%;
    max-width: 600px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 6%;
    margin-top: 30vh;
    background: #2f3e468a;
}

#choixvr a {
    color:#CAD2C5;
}

#about article,#contact article {
    max-width:600px;
}

#projects .articles{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#projects .articles article{
    max-width : 500px;
}

#contact article ul {
    padding : 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contact article ul li {
    display: flex;
    background-color : white;
    color : white;
    width : 70px;
    height : 70px;
    border-radius : 100px;
    overflow: hidden;
    margin : 0 1em;
}

#contact article ul li a {
    width: 100%;
    text-indent: -85465px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#contact article ul li.facebook a{
    background-image: url('icons/facebook.png');
}
#contact article ul li.linkedin a{
    background-image: url('icons/linkedin.png');
}
#contact article ul li.email a{
    background-image: url('icons/mail.png');
}
#contact article ul li.téléphone a{
    background-image: url('icons/telephone.png');
}

article {
    overflow: hidden;
    margin: 2em auto;
    width: 90%;
    max-width: 440px;
    background-color: #2b2d3c;
    border-radius: 2em;
    box-sizing: border-box;
}

.articles article {
    margin:2em 1em;
}

article > div {
    overflow: hidden;
}

article .titleContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242630;
    min-height: 7em;
}

article div:not(.titleContainer).show {
    margin:  2em 1em 2em 1em;
    height: max-content;
}

article div:not(.titleContainer).hide {
    height: 0;
}

article .excerpt > *:first-child, article .content .inner > *:first-child {
    margin-top: 0;
}

article .titleContainer h2 {
    z-index: 1;
    text-align: center;
}

article .titleContainer img {
    position: absolute;
    width:auto;
    height: max-content;
    filter: blur(5px) brightness(0.5);
}

article .content .inner {
    max-height: 50vh;
    overflow-y: scroll;
    background-color: #494c63;
}

article .content .inner > div {
    margin: 2em auto;
}

.aligncenter {
    align-self: center;
}

article button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 1.1em;
}

article button:hover {
    background-color:grey;
}

article .content button {
    margin-top : 0.5em;
}

@media screen and (max-width : 900px) {
    body{
        font-size: 1em;
    }

    #projects .articles article, #about article, #contact article{
        max-width: 400px;
    }

    #contact article ul li {
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width : 400px){
    body{
     /*   font-size: 0.8em;*/
    }

    #contact article ul li {
        /*width: 40px;
        height: 40px;*/
    }
}
